
<div *ngIf="merchant">
    <h2><span jhiTranslate="weloveApp.merchant.detail.title">Merchant</span> {{merchant.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="weloveApp.merchant.name">Name</span></dt>
        <dd>
            <span>{{merchant.name}}</span>
        </dd>
        <dt><span jhiTranslate="weloveApp.merchant.logo">Logo</span></dt>
        <dd>
            <div *ngIf="merchant.logo">
                <a (click)="openFile(merchant.logoContentType, merchant.logo)">
                    <img [src]="'data:' + merchant.logoContentType + ';base64,' + merchant.logo" style="max-width: 100%;" alt="merchant image"/>
                </a>
                {{merchant.logoContentType}}, {{byteSize(merchant.logo)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'merchant/'+ merchant.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
