<div>
    <h2>
        <span jhiTranslate="weloveApp.merchant.home.title">Merchants</span>
        <button class="btn btn-primary float-right jh-create-entity create-merchant" [routerLink]="['/', { outlets: { popup: ['merchant-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="weloveApp.merchant.home.createLabel">
            Create new Merchant
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="merchants">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="weloveApp.merchant.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="logo"><span jhiTranslate="weloveApp.merchant.logo">Logo</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let merchant of merchants ;trackBy: trackId">
                <td><a [routerLink]="['../merchant', merchant.id ]">{{merchant.id}}</a></td>
                <td>{{merchant.name}}</td>
                <td>
                    <a *ngIf="merchant.logo" (click)="openFile(merchant.logoContentType, merchant.logo)">
                        <img [src]="'data:' + merchant.logoContentType + ';base64,' + merchant.logo" style="max-height: 30px;" alt="merchant image"/>
                    </a>
                    <span *ngIf="merchant.logo">{{merchant.logoContentType}}, {{byteSize(merchant.logo)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../merchant', merchant.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'merchant/'+ merchant.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'merchant/'+ merchant.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="merchants && merchants.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
